[Unit]
Description=Water Delivery Telegram Bot
After=network.target

[Service]
Type=simple
User=botuser
WorkingDirectory=/home/botuser/water_delivery/water_delivery_bot
Environment=PATH=/home/botuser/water_delivery/water_delivery_bot/.venv/bin
ExecStart=/home/botuser/water_delivery/water_delivery_bot/.venv/bin/python main.py
Restart=always
RestartSec=10

# Логування
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target


